<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../script/style.css" />
    <script
      type="text/javascript"
      ,
      src="../script/mainscreen.js?ver=123"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/a77969e492.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="screen-header">
      <div class="screen-header__items">
        <h1 class="screen-header__items__title">Instagram</h1>
        <div class="screen-header__items__search-bar">
          <input type="search" placeholder="   🍳   검색" />
        </div>
        <div class="screen-header__items__icons-img">
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-paper-plane"></i>
          <i class="fa-solid fa-square-plus"></i>
          <i class="fa-solid fa-compass"></i>
          <i class="fa-solid fa-heart"></i>
          <img src="../script/img/logo.jpg" />
        </div>
      </div>
    </header>

    <div class="mainscreen">
      <div class="mainscreen__article">
        <div class="mainscreen__article__storys">
          <div class="mainscreen__article__storys__left-blank"></div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
          <div class="mainscreen__article__storys__indv">
            <img src="../script/img/logo.jpg" />
            <p>slapslap</p>
          </div>
        </div>
        <div class="mainscreen__article__feed">
          <div class="mainscreen__article__feed__header">
            <div class="mainscreen__article__feed__header__img-p">
              <img src="../script/img/liverpoolfc-logo.png" />
              <p>liverpoolfc</p>
            </div>
            <i class="fa-solid fa-ellipsis"></i>
          </div>
          <div class="mainscreen__article__feed__img">
            <img src="../script/img/sadio.jpg" />
          </div>
          <div class="mainscreen__article__feed__icons">
            <div class="mainscreen__article__feed__icons__left">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-comment"></i>
              <i class="fa-solid fa-paper-plane"></i>
            </div>
            <div class="mainscreen__article__feed__icons__right">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
          <div class="mainscreen__article__feed__likes-txt">
            좋아요 145,562개
          </div>
          <div class="mainscreen__article__feed__comments">
            <div class="mainscreen__article__feed__comments__main-comment">
              <span>liverpoolfc</span>
              <span>
                That's now 2⃣0⃣ goals in four of the last five seasons for super
                Sadio 🤩 #LFC
              </span>
            </div>
            <div class="mainscreen__article__feed__comments__show-all-comment">
              <p>댓글 971개 모두 보기</p>
            </div>
            <div class="mainscreen__article__feed__comments__visitors-comment">
              <span>rinss98</span>
              <span>Love to see it 🔥🔥🤩🤩</span>
            </div>
          </div>
          <div class="mainscreen__article__feed__uploaded-time">
            <p>6시간전</p>
          </div>
          <div class="mainscreen__article__feed__write-comment">
            <i class="fa-solid fa-face-smile"></i>
            <input type="search" placeholder="댓글 달기..." />
            <span>게시</span>
          </div>
        </div>
        <div class="mainscreen__article__feed">
          <div class="mainscreen__article__feed__header">
            <div class="mainscreen__article__feed__header__img-p">
              <img src="../script/img/liverpoolfc-logo.png" />
              <p>liverpoolfc</p>
            </div>
            <i class="fa-solid fa-ellipsis"></i>
          </div>
          <!-- 수정중인 부분 -->
          <div class="mainscreen__article__feed__img-container">
            <div class="mainscreen__article__feed__img-container__img img-fade">
              <img src="../script/img/sadio.jpg" />
            </div>
            <div class="mainscreen__article__feed__img-container__img img-fade">
              <img src="../script/img/mane.jpeg" />
            </div>
            <div class="mainscreen__article__feed__img-container__img img-fade">
              <img src="../script/img/sm.jpg" />
            </div>
            <a
              class="mainscreen__article__feed__img-container__prev"
              onclick="plusSlides(-1)"
              >&#10094;</a
            >
            <a
              class="mainscreen__article__feed__img-container__next"
              onclick="plusSlides(1)"
              >&#10095;</a
            >
          </div>
          <!-- 수정중인 부분 -->
          <div class="mainscreen__article__feed__icons">
            <div class="mainscreen__article__feed__icons__left">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-comment"></i>
              <i class="fa-solid fa-paper-plane"></i>
            </div>
            <!-- 수정 -->
            <div class="mainscreen__article__feed__icons__center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
            </div>
            <!-- 수정 -->
            <div class="mainscreen__article__feed__icons__right">
              <i class="fa-solid fa-bookmark"></i>
            </div>
          </div>
          <div class="mainscreen__article__feed__likes-txt">
            좋아요 145,562개
          </div>
          <div class="mainscreen__article__feed__comments">
            <div class="mainscreen__article__feed__comments__main-comment">
              <span>liverpoolfc</span>
              <span>
                That's now 2⃣0⃣ goals in four of the last five seasons for super
                Sadio 🤩 #LFC
              </span>
            </div>
            <div class="mainscreen__article__feed__comments__show-all-comment">
              <p>댓글 971개 모두 보기</p>
            </div>
            <div class="mainscreen__article__feed__comments__visitors-comment">
              <span>rinss98</span>
              <span>Love to see it 🔥🔥🤩🤩</span>
            </div>
          </div>
          <div class="mainscreen__article__feed__uploaded-time">
            <p>6시간전</p>
          </div>
          <div class="mainscreen__article__feed__write-comment">
            <i class="fa-solid fa-face-smile"></i>
            <input type="search" placeholder="댓글 달기..." />
            <span>게시</span>
          </div>
        </div>
      </div>
      <div class="mainscreen__toolbar">
        <div class="maincreen__toolbar__user-page">
          <img src="../script/img/logo.jpg" />
          <div class="maincreen__toolbar__user-page__nickname-realname">
            <span id="nickname">cookie_cracker</span>
            <span id="realname">Seungtae Lee</span>
          </div>
          <div class="maincreen__toolbar__user-page__change">
            <span>전환</span>
          </div>
        </div>
        <div class="mainscreen__toolbar__recommendation">
          <div class="mainscreen__toolbar__recommendation__txt">
            <span>회원님을 위한 추천</span>
            <span>모두 보기</span>
          </div>
          <div class="maincreen__toolbar__recommendation__user-page">
            <img src="../script/img/logo.jpg" />
            <div class="maincreen__toolbar__recommendation__nickname-realname">
              <span>bls.ye</span>
              <span>Instagram 신규 가입</span>
            </div>
            <div class="maincreen__toolbar__recommendation__follow">
              <span>팔로우</span>
            </div>
          </div>
          <div class="maincreen__toolbar__recommendation__user-page">
            <img src="../script/img/logo.jpg" />
            <div class="maincreen__toolbar__recommendation__nickname-realname">
              <span>suzi</span>
              <span>srlee님 외 5명이 팔로우...</span>
            </div>
            <div class="maincreen__toolbar__recommendation__follow">
              <span>팔로우</span>
            </div>
          </div>
          <div class="maincreen__toolbar__recommendation__user-page">
            <img src="../script/img/logo.jpg" />
            <div class="maincreen__toolbar__recommendation__nickname-realname">
              <span>cracker</span>
              <span>doole님 외 5명이 팔로우...</span>
            </div>
            <div class="maincreen__toolbar__recommendation__follow">
              <span>팔로우</span>
            </div>
          </div>
          <div class="maincreen__toolbar__recommendation__user-page">
            <img src="../script/img/logo.jpg" />
            <div class="maincreen__toolbar__recommendation__nickname-realname">
              <span>naggo</span>
              <span>회원님을 위한 추천</span>
            </div>
            <div class="maincreen__toolbar__recommendation__follow">
              <span>팔로우</span>
            </div>
          </div>
          <div class="maincreen__toolbar__recommendation__user-page">
            <img src="../script/img/logo.jpg" />
            <div class="maincreen__toolbar__recommendation__nickname-realname">
              <span>kim_kk</span>
              <span>landers님이 팔로우합...</span>
            </div>
            <div class="maincreen__toolbar__recommendation__follow">
              <span>팔로우</span>
            </div>
          </div>
        </div>
        <div class="mainscreen__toolbar__contract">
          <p>소개·도움말·홍보 센터·API·채용 정보·</p>
          <p>개인정보처리방침·약관·위치·인기 계정·해시태그·</p>
          <p>언어</p>
          <p>© 2022 INSTAGRAM FROM META</p>
        </div>
      </div>
    </div>
  </body>
</html>
